body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 9px 200px 15px 200px;
  background-color: #000000;
}

h1 {
  font-style: Sans Serif;
  color: #FFFFFF;
  text-align: center;
  font-size:50px;
}

.navBar {
  color: #FACD3D;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  text-decoration: none;
  margin : 0px 60px 0px 60px;
}

p {
  color: white;
  font-size: 25px;
  text-align: center;
}

.circle {
  border-radius: 50%
}


hr {
  color: white;
}

.footer_e {
  display: flex;
  justify-content: space-around;
}

.foot {
  font-size: 20px;
  
}