.navBar: hover {
  color : #E60576;
}

img {
  border-radius: 50%
}

table {
  margin : 0px 55px 0px 55px;
}

th,td {
  color: #FFFFFF;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 20px;
  text-align: center;
}

table, th, td {
  border: 3px solid #2CCCC3;
  padding: 15px;
}
